*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/*.zip
/*.tar.gz
/packages/*/*/vendor
/packages/*/*/.phpunit.cache
/packages/*/*/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/license
/storage/app/private/backups
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
